.social-login
  button.socialBtn--github
    span
      i.fab.fa-github 
    span.button__text
      |Continue with Github
  button.socialBtn--facebook
    span
      i.fab.fa-facebook
    span.button__text    
      |Continue with facebook