extends layouts/main.pug

block content 
  .form-container
    form(action=routes.changePassword, mehtod="post")
      input(type="password" name="curent-password" plascehodler="Current Password")
      input(type="password" name="change-password" plascehodler="Change Password")
      input(type="submit" value="update")

